@use "../../foundation/global" as g;
.c-archive--Hero{
    width: 100%;
    background: url(../images/archive-top-sp.webp) no-repeat center center / cover;
    @include g.breakpoint(tablet){
        background: url(../images/archive-top-tab.webp) no-repeat center center / cover;
    }
    @include g.breakpoint(pc){
        background: url(../images/archive-top-pc.webp) no-repeat center center / cover;
    }
    height: 12.44vw;
}
.c-archive--title{
    font-size: 3.125vw;
}