@use "../../global" as g;
.c-header--menu{
    display: block;
    @include g.breakpoint(pc){
        display: none;
    }
}
.c-header--menu__button{
    display: block;
    font-family: g.$font-title;
    font-size: 2.0rem;
    line-height: 23.44px;
    color: g.$color--gray;
    position: absolute;
    top: 8px;
    right: 8px;
    @include g.breakpoint(tablet){
        font-size: 3.4rem;
        line-height: 39.84px;
        top: 20px;
        right: 25px;
    }
    @include g.breakpoint(pc){
        display: none;
    }
}
