@use "../../global" as g;
.c-container{
    width: 100%;
    @include g.breakpoint(pc){
        width: 80.88%;
    }
}
.c-header__logo{
    font-family: g.$font-title;
    font-size: 4.0rem;
    line-height: 46.88px;
    color: g.$color--gray;
    padding: 43px 0 40px;
    @include g.breakpoint(pc){
    font-size: 3.33vw;
    padding: 0;
    }
}
.c-contents__title--gray{
    color: g.$color--text-gray;
}
.c-bold{
    font-weight: 700;
}
