@use "../../foundation/global" as g;
.c-grid{
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    margin-bottom: 30px;
    text-align: center;
    @include g.breakpoint(tablet){
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 16px;
        margin-bottom: 60px;
    }
    @include g.breakpoint(pc){
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 1.04vw;
        margin-bottom: 3.13vw;
    }

}
