@use "../../foundation/global" as g;

.c-search__label{
    display: none;
}
.c-search--box{
    width: 216px;
    height: 46px;
    border: solid 1px rgb(112, 112, 112);
    border-radius: 10px;
    position: relative;
    margin-right: 16px;
    @include g.breakpoint(tablet){
        width: 396px;
        height: 46px;
        margin-right: 14px;
    }
    @include g.breakpoint(pc){
        width: 20.625vw;
        height: 2.40vw;
        margin-right: 0.72vw;
    }
    &::before{
    content: "";
    background: url(../images/search-icon.webp) no-repeat center center / auto 100%;
    display: inline-block;
    position: absolute;
    width: 24px;
    height: 24px;
    top: 11px;
    left: 9px;
    @include g.breakpoint(pc){
    width: 1.25vw;
    height: 1.25vw;
    top: 0.572vw;
    left: 0.625vw;
    }
    }

    & input{
        width: 216px;
        height: 46px;
        padding: 0 0 0 37px;
        @include g.breakpoint(pc){
        padding: 0.52vw 0 0.52vw 2.34vw;
        width: 20.62vw;
        height: 2.39vw;
        }
    }
}
.c-search--form{
    display: flex;
    justify-content: center;
}
