@use "../../foundation/global" as g;
.c-single{
    padding: 0 20px;
    margin-bottom: 60px;
    @include g.breakpoint(tablet){
        padding: 0 60px;
        margin-bottom: 150px;
    }
    @include g.breakpoint(pc){
        padding: 0 5.21vw;
        margin-bottom: 14.06vw;
    }
}
.c-single__img--full{
    width: 100%;
    margin-bottom: 30px;
    @include g.breakpoint(tablet){
        margin-bottom: 60px;
    }
    @include g.breakpoint(pc){
        margin-bottom: 3.13vw;
    }
}
.c-single__col{
    margin-bottom: 30px;
    @include g.breakpoint(tablet){
        margin-bottom: 60px;
    }
    @include g.breakpoint(pc){
        margin-bottom: 3.13vw;
    }
}
.c-single__col__img{
    width: calc(50% - 5px);
    @include g.breakpoint(tablet){
        width: calc(50% - 10px);
    }
    @include g.breakpoint(pc){
        width: calc(50% - 1.04vw);
    }
}
.c-single__col__text{
    width: calc(50% - 5px);
    font-size: 1.6rem;
    line-height: 1.485;
    @include g.breakpoint(tablet){
        width: calc(50% - 10px);
    }
    @include g.breakpoint(pc){
        width: calc(50% - 1.04vw);
        font-size: 0.83vw;
    }
}
.c-single__img--center{
    text-align: center;
    margin-bottom: 30px;
    @include g.breakpoint(pc){
        margin-bottom: 3.13vw;
    }
}