@use "../../foundation/global" as g;
.c-unordered--container{
    margin-bottom: 17px;
    @include g.breakpoint(tablet){
        margin-bottom: 60px;
    }
    @include g.breakpoint(pc){
        margin-bottom: 2.97vw;
    }
}
.c-unordered--primary{
    color: g.$color--card-brown;
    @include g.breakpoint(tablet){
        padding: 0 50px;
    }
    @include g.breakpoint(pc){
        padding: 0 2.6vw;
    }
}
.c-unordered--secondary{
    margin: 17px;
    @include g.breakpoint(pc){
        margin: 0.89vw;
    }
}