@use "../../foundation/global" as g;
.p-blockquote{
    padding: 30px 20px;
    margin-bottom: 30px;
    @include g.breakpoint(tablet){
        padding: 50px 53px;
        margin-bottom: 60px;
    }
    @include g.breakpoint(pc){
        padding: 2.6vw 2.86vw;
        margin-bottom: 3.13vw;
    }
}
.p-blockquote__text{
    color: g.$color--brown;
    font-size: 1.6rem;
    line-height: 1.485;
    margin-bottom: 30px;
    @include g.breakpoint(tablet){
        margin-bottom: 61px;
    }
    @include g.breakpoint(pc){
        font-size: 0.83vw;
        line-height: 1.24vw;
        margin-bottom: 3.18vw;
    }
}
.p-blockquote__source{
    font-size: 1.6rem;
    line-height: 1.485;
    font-style: normal;
    @include g.breakpoint(pc){
        font-size: 0.83vw;
        line-height: 1.24vw;
    }
}
.p-blockquote__link{
    text-decoration: underline;
    color: g.$color--text-link;
    font-size: 1.6rem;
    line-height: 1.485;
    @include g.breakpoint(pc){
        font-size: 0.83vw;
        line-height: 1.24vw
    }
}