@use "../../global" as g;


.p-footer{
    background: url(../images/footer-bg.png) center center / auto 100%;
    height: 7.812vw;
    color: g.$color--white;
    .p-footer__listBox{
        display: flex;
        justify-content: center;
        padding: 2.135vw 0 1.614vw;
        .p-footer__list{
            font-size: 1.041vw;
            line-height: 1.546vw;
            margin-left: 0.26vw;
            &::after{
                content: " | ";
            }
            &:last-child::after{
                content: "";
            }
        }
    }
    .p-footer__copyright{
        display: flex;
        justify-content: center;
        font-size: 0.729vw;
    }
}