@use "../../global" as g;
.p-header{
    display: flex;
    height: 11.30vw;
    align-items: center;
    padding-left: 3.38vw;
    padding-right: 1.61vw;
    justify-content: space-between;
    background-color: g.$color--background-pink;
}