@use "../../foundation/global" as g;
.p-header{
    text-align: center;
    position: relative;
    @include g.breakpoint(pc){
    display: flex;
    align-items: center;
    padding-left: 3.38vw;
    padding-right: 1.61vw;
    justify-content: space-between;
    }
}