@use "../../foundation/global" as g;

.p-menu{
    padding: 4.375vw 0 4.375vw 2.395vw;
}
.p-menu__title{
    font-family: g.$font-title;
    font-size: 1.770vw;
    line-height: 2.022vw;
    margin-bottom: 4.687vw;
}
.p-menu__list{
        font-size: 1.25vw;
        margin-bottom: 1.666vw;
        display: inline-block;
}

.p-menu__subListBox{
            margin-bottom: 2.5vw;
            padding-left: 1.041vw;
}
.p-menu__subList{
    font-size: 1.041vw;
    line-height: 1.546vw;
    margin-bottom: 1.041vw;
    &:last-child{
        margin-bottom: 0;
    }
}