
$color--black:#000;
$color--gray:rgba(112, 112, 112, 1);
$color--brown:rgba(60, 42, 16, 1);
$color--white:rgba(255, 255, 255, 1);
$color--background-pink:rgba(255, 247, 239, 1);
$color--background-white:rgba(255, 255, 255, 1);
$color--nav-gray:rgba(242, 237, 233, 1);
$color--text-gray:rgba(234, 234, 234, 1);